@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-haas-grotesk);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-haas-grotesk), Arial, Helvetica, sans-serif;
}

/* Swiper custom styles */
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Custom navigation buttons - smaller size */
.swiper-button-next,
.swiper-button-prev {
  width: 24px !important;
  height: 24px !important;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.swiper-button-next svg,
.swiper-button-prev svg{
  width: 12px !important;
    height: 12px !important;
  font-weight: 600;
  color: white;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important  ;
}